@import url("fonts.css");

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #111;
    color: #5fd6b2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: -999999;
}

div#header {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    align-items: center;
    justify-items: center;
    height: 15%;
}

div#header>div.txt>a {
    font-size: 3rem;
}

div#header>div.col {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div#header a {
    text-decoration: none;
    font-size: 1.5rem;
}



div#square {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    height: 10%;
    transform: translate(-50%, -50%);
    border: #334a37 3px solid;
    z-index: -9999;
    background-color: #111;
}

div#square:not(.main) {
    animation: 15s cubic-bezier(.22, .61, .36, 1) infinite forwards scale;
    background-color: unset;
}

div#square.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.squares>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -99999;
}

div.squares>svg>line {
    stroke: #334a37;
    stroke-width: 3px;
}

div#cursor {
    position: absolute;
    width: 48px;
    height: 64px;
    background: linear-gradient(62deg, rgb(89, 244, 172), rgb(185, 102, 204));
    transform: translate(-50%, -50%) rotate(360deg);
    z-index: -999;
    filter: blur(16px);
    border-radius: 50% 25%;
    animation: 5s linear infinite forwards rot;
}

@keyframes rot {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes scale {
    0% {
        width: 105%;
        height: 105%;
    }

    100% {
        width: 10%;
        height: 10%;
    }
}

span.whitetxt {
    color: #fff !important;
}

a {
    color: #FBFC7D;
    transition-duration: 250ms;
}

a:hover {
    text-shadow: 0px 0px 10px currentColor;
}