div#content {
    height: 85%;
    padding: 2%;
    font-size: 1.2rem;
    box-sizing: border-box;
    overflow-y: auto;
}

div#content br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

div#content a:has(>span) {
    border-bottom: none;
}

div#content a {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    color: currentColor;
    width: max-content;
    margin: auto;
}

div#content a>span {
    border-bottom: 2px solid currentColor;
}

div#content div#projectContainer {
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 1fr 1fr;
    gap: 0% 5%;
    text-align: center;
}

div#content div.project {
    display: grid;
    grid-template-rows: 10% 15% 60%;
    gap: 5%;
    grid-template-columns: 100%;
}

div#content div.project img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}