div#content {
    height: 85%;
    box-sizing: border-box;
    padding: 2%;
    font-size: 1.2rem;
    overflow-y: auto;
}

div#content br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

div#content a:has(>span) {
    border-bottom: none;
}

div#content a {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    color: currentColor;
}

div#content a>span {
    border-bottom: 2px solid currentColor;
}

hr {
    color: #334a37;
    height: 2px;
    background-color: currentColor;
    border-radius: 2px;
}