div#content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2%;
    font-size: 1.2rem;
}

div#content br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

div#content a:has(>span) {
    border-bottom: none;
}

div#content a {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    color: currentColor;
}

div#content a>span {
    border-bottom: 2px solid currentColor;
}

div#content img.logo {
    width: 5%;
}

div#content div.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}