div.defrag {
    position: absolute;
    min-width: 480px;
    min-height: 480px;
    width: 680px;
    height: 540px;
    background-color: rgb(230, 230, 230);
    transition-property: opacity;
    transition-duration: 250ms;
}

div.defrag div.rest {
    width: 100%;
    height: calc(100% - 28px);
}

div.defrag div.rest div.squares {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--taskbar-bg);
}

div.defrag div.rest div.squares div.square {
    width: 2.5%;
    height: 5%;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid black;
}

div.defrag div.rest div.squares div.square.completed {
    background: rgba(0, 255, 0, 0.5);
}

div.defrag div.rest div.squares div.square.snake {
    background: rgba(255, 255, 255, 0.5);
}

div.defrag div.rest div.squares div.square.snake.dead {
    animation: dead-blink 0.5s infinite forwards;
}

div.defrag div.rest div.squares div.square.win {
    animation: win-blink 0.5s infinite forwards;
}

@keyframes dead-blink {
    0% {
        background: rgba(255, 0, 0, 0.5);
    }
    49.5% {
        background: rgba(255, 0, 0, 0.5);
    }
    50.5% {
        background: rgba(255, 255, 255, 0.5);
    }
    100% {
        background: rgba(255, 255, 255, 0.5);
    }
}

@keyframes win-blink {
    0% {
        background: rgba(255, 255, 0, 0.75);
    }
    49.5% {
        background: rgba(255, 255, 0, 0.75);
    }
    50.5% {
        background: rgba(255, 255, 255, 0.5);
    }
    100% {
        background: rgba(255, 255, 255, 0.5);
    }
}

div.defrag div.rest div.squares div.square.fruit {
    background: rgba(255, 100, 255, 0.75);
}

div.defrag div.rest div.data {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
}

div.defrag div.rest div.data div.info span.status {
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}

div.defrag div.rest div.data div.info span.status.lose {
    color: red;
}

div.defrag div.rest div.data div.info span.status.win {
    color: limegreen;
    text-shadow: 0px 0px 2px black;
}

div.defrag div.rest div.data div.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

div.defrag div.rest div.data div.buttons div {
    width: min-content;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: inset -2px -2px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 0px rgba(200, 200, 200, 0.5);
    cursor: pointer;
    user-select: none;
}