/* Once firefox supports :has(), I will use this.
div#taskbar:has(> div#start:not(.pressed)) ~ div#start-menu {
    display: none;
} */

div#start-menu.hidden {
    opacity: 0;
    z-index: -1000;
}

div#start-menu {
    height: 500px;
    width: 400px;
    position: absolute;
    bottom: 31px;
    background-color: var(--taskbar-bg);
    border-radius: 8px 8px 0px 0px;
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.2), inset -4px 0px 4px rgba(0, 0, 0, 0.2), 0px 8px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-duration: 50ms;
    z-index: 999;
}

div#head {
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 16px;
    margin-left: 10px;
    color: white;
}

img#pfp {
    height: 64px;
    width: 64px;
    border: 2px solid rgb(112, 170, 250);
    border-radius: 2px;
}

span#username {
    font-size: 24px;
}

div#main {
    height: 374px;
    width: 395px;
    margin-left: 2px;
    background-color: white;
}

div#main>div#hr {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, orange 50%, transparent);
    position: relative;
}

div#realmain {
    height: 372px;
    width: 100%;

    display: flex;
    flex-direction: row;

    border-bottom: 2px solid rgb(67, 139, 227);
    border-radius: 0px 0px 1px 1px;
}

div#left {
    height: 100%;
    width: 50%;
}

div#right {
    height: 100%;
    width: 50%;
    background-color: rgb(211, 229, 250);
    border-left: 2px solid rgb(149, 189, 238);
}

div#realmain div.item {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 2%;
    padding: 4px;
    height: 41px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

div#realmain div.item>img.icon {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    justify-self: end;
}

div#realmain div.item>span.name {
    color: black;
    font-weight: 700;
    align-self: end;
    font-size: 0.9em;
}

div#realmain div.item>span.desc {
    color: rgb(127, 127, 127);
    font-size: 0.75em;
    align-self: start;
}

div#realmain div.sep {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent 10%, rgb(127, 127, 127), transparent 90%);
}

div#realmain div.frequent {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 2%;
    padding: 4px;
    height: 41px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

div#realmain div.frequent>img.icon {
    height: 100%;
    justify-self: end;
}

div#realmain div.frequent>span.name {
    color: black;
    font-weight: 700;
    align-self: center;
    font-size: 0.9em;
}

div#realmain div.place {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 2%;
    padding: 4px;
    height: 41px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

div#realmain div.place>img.icon {
    height: 100%;
    justify-self: end;
}

div#realmain div.place>span.name {
    color: black;
    font-weight: 700;
    align-self: center;
    font-size: 0.9em;
}

div#realmain div.all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px;
    height: 41px;
    color: black;
    font-weight: 700;
    font-size: 0.9em;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

div#power {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 16px;
    color: white;
    box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.1);
    padding-right: 8px;
}

div#power>div.power {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    user-select: none;
}

div#power>div.power:hover {
    cursor: pointer;
}

div#power>div.power>.icon {
    width: 24px;
    height: 24px;
}