div#content {
    height: 85%;
    padding: 2%;
    font-size: 1.2rem;
    box-sizing: border-box;
}

div#content br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

div#content a:has(>span) {
    border-bottom: none;
}

div#content a {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    color: currentColor;
    width: max-content;
    margin: auto;
}

div#content a>span {
    border-bottom: 2px solid currentColor;
}

div#content div#projectContainer {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 0% 5%;
    text-align: center;
}

div#content div.project {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 16px;
}

div#content div.project img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

div#content div.title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 8px;
}

div#content div.project span.desc {
    margin: auto;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(0%, 100%);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}